
.bg-image{
    background-image: url(../../assets/mun_bg.jpg);
    background-size:cover;
    text-align: center;
    background-repeat: no-repeat;
    filter: blur(3px);
    filter: grayscale(1);
    filter: saturate(1.8);
    width: 100%;
    padding:10%;
    top: 0;
    left: 0;
    z-index: -2;
  }

.mun_main{
    display:block;
    margin-left: auto;
    margin-right : auto;
    width:200px;
    padding:5px;
    border-radius: 10px;
}

.mun_main:hover{
    box-shadow: 5px 5px 7px 2px #461111;
    padding:8px;
}

.mun_image_left{
    width: 250px;
    padding: 10px;
    float : left;
    margin-left: 50px;
    margin-right: 50px;
}

.mun_image_right{
    width: 250px;
    padding: 10px;
    float : right;
    margin-left: 50px;
    margin-right: 50px;
}

.clearfix::after{
    content:"";
    clear: both;
    display:table;
    padding:15px;
}

.titletext{
    font-size : 70px;
    font-weight: 650;
    text-align: center;
}

.titlebox{
    display : block;
    margin-left: auto;
    margin-right:auto;
    align-items: center;
    background-color: #e2cbb1;
    box-shadow : 0px 0px 10px 2px grey;
    width: 75%;
    padding : 15px;
    z-index:-1;
    border-radius:10px;
}

.subtitletext{
    font-size : 35px;
    font-weight: 650;
    display: inline-block;
    vertical-align: middle;
}

.subsubtitletext{
    font-size : 20px;
    font-weight: 550;
    margin-top: 7px;
}

.button{
    padding: 15px;
    margin:20px;
    border-radius: 20px;
    border-width: 2px;
    border-color: #461111;
    background-color: #e2cbb1;
    color:black;
}

.button:hover{
    background-color: #461111;
    color:white;
}

.alignright{
    text-align:right;
}

.subtitletextright{
    font-size : 35px;
    font-weight: 650;
    display: flex;
    justify-content: flex-end;
    vertical-align: middle;
    text-align: right;
}

.subsubtitletextright{
    font-size : 20px;
    font-weight: 550;
    margin-top: 7px;
    text-align: right;
}
